htmlエラー確認:
  - パターン: "-"
    手順: ""
    想定結果:
      - htmlエラーがないこと
jsエラー確認:
  - パターン: "-"
    手順: 
      - 全テストケース実施前にブラウザの検証のコンソールを開く
      - コンソールの設定でログを保持をチェックする
      - 全テストケース実施後にログを保存する
    想定結果:
      - jsエラーがないこと
    エビデンス: True
phpエラー確認:
  - パターン: "-"
    手順: ""
    想定結果:
      - phpエラーがないこと
表示崩れ確認:
  - パターン: "-"
    手順: ""
    想定結果:
      - 表示崩れがないこと
    エビデンス: True
