htmlエラー確認:

jsエラー確認:

phpエラー確認:

クリック確認: クリック後の挙動の確認

コンポーネント確認: コンポーネントが想定通りの挙動をするかの確認

表示確認: 表示するか、しないかを確認する

表示崩れ確認:

表示モード確認: ボタンの色、テーブルのセルが結合されているいないなど

表示文言確認:

リンク確認:

# 変数宣言サンプル
{% set perspectives = ["観点1", "観点2"] %}

# 繰り返し生成サンプル
{% for perspective in perspectives %}
{{ perspective }}:
{% endfor %}

# データセットサンプル(storage/integrated_test/global_config/データセット.yml.example 参照)
データセットサンプル1: {{ key1 }}
データセットサンプル2: {{ key2[0] }}
