htmlエラー確認:
  - パターン: "-"
    # 手順は省略可能
    # 手順:
    #   - 
    想定結果:
      - htmlエラーがないこと
    エビデンス: 要
jsエラー確認:
  - パターン: "-"
    手順: 
      - 全テストケース実施前にブラウザの検証のコンソールを開く
      - コンソールの設定でログを保持をチェックする
      - 全テストケース実施後にログを保存する
    想定結果:
      - jsエラーがないこと
    エビデンス: 要
phpエラー確認:
  - パターン: "-"
    # 手順は省略可能
    # 手順:
    #   - 
    想定結果:
      - phpエラーがないこと
    エビデンス: 要
表示崩れ確認:
  - パターン: "-"
    # 手順は省略可能
    # 手順:
    #   - 
    想定結果:
      - 表示崩れがないこと
    エビデンス: 要

# 変数宣言サンプル
{% set patterns = ["パターン1", "パターン2"] %}

テンプレート構文サンプル:
  {% for pattern in patterns %}
    - パターン: {{ pattern }}
      想定結果:
        - サンプル
  {% endfor %}

# データセットサンプル(storage/integrated_test/global_config/データセット.yml.example 参照)
データセットサンプル:
  - パターン: "-"
    想定結果:
      - {{ key1 }}
      - {{ key2[0] }}
